/*En la siguiente linea de codigo estamos importando una fuente para modificar las palabras*/
@import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Esta clase pertenece a el body del index.html*/
body {
  font-family: sans-serif;

}
/*Estas 6 clases pertenecen al cabezal de la pagina principal/estudios/proyectos/contacto/*/
.navbar {
  background-color: #313236;
  border-radius: 2px;
  max-width: 800px;
}
.navbar a {
  color: #aaa;
  display: inline-block;
  font-size: 15px;
  padding: 10px;
}

.navegacion li:hover {
  color: #ffffff;
  background-color: rgb(31, 124, 185);
}
.header_background {
  font-size: 2rem;
  margin: 0px;
  background-image: url(../media/background.jfif);
  background-size:cover;
}
.header_background a:hover{
  color: black;
}

.header__ul{
  display: flex;
  flex-direction: row;  
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  padding: 100px;
}

.header__ul li{
  display:inline;
  padding: 10px 70px;
}
/* Esta clase pertenece a index.html/estudios/proyectos/contacto/*/
.section_Main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 100px;
  background-color: rgb(150, 216, 236);
}
/*Esta clase pertenece a contacto*/
.imagenes_contacto{
  display: flex;
  justify-content: space-around;

}
/* Aqui se colocaron los textos*/
h2{
  color: black;
  font-family: 'Cinzel', serif;
  padding: 25px;
}
h1{
  color: black;
  font-family: 'Cinzel', serif;
  font-size:5rem;
}
h3{
  color: black;
  text-decoration: underline;
  font-family:  'Cinzel', serif;
  font-size:5rem;
  padding: 30px;
}
h4{
  color: black;
  font-family:  'Cinzel', serif;
  font-size:2rem;
}
h5{
  color: black;
  text-decoration: underline;
  font-family:  'Cinzel', serif;
  font-size:5rem;
}
h6{
  color: black;
  font-family:  'Cinzel', serif;
  font-size:2rem;
  background-color: white;
}
h7{
  color: black;
  font-family:  'Cinzel', serif;
  font-size:5rem;
}
h8{
  color: black;
  font-family:  'Cinzel', serif;
  font-size:3rem;
}
h9{
  color: black;
  font-family:  'Cinzel', serif;
  font-size:3rem;
}
h10{
  color: black;
  font-family:  'Cinzel', serif;
  font-size:  1.5rem;
  color: white;
}
/*Estas 5 clases pertenencen al pie de la pagina*/
.footer_imag a{
  display: flex;
  justify-content: space-around;
  width: 70px;
  height: 70px;
}
.footer_imag{
  display: flex;
  justify-content: space-around;
}
.footer{
  padding: 5px;
  display: flex;
  flex-direction: column;
  font-size: 7rem;
  margin: 0px;
  background-image: url(../media/background.jfif);
  background-size:cover;
}
.footer_texto{
  display: flex;
  justify-content: end;
}
#footer{
  height: 100px;
}
@media(max-width:1100px){
  .header__ul{
    flex-direction: column;
  }
}
@media(max-width:375px){
  .header__ul{
    flex-direction: column;
  }
  .header_background{
    font-size: 1rem;
  }
  .section_Main{
    background-size: contain;
  }
  .img-proyecto{
    width: 250px;
    height: 250px;
  }
    h3{
      font-size: 1rem;
    }
    h4{
      font-size: 1rem;
    }
    h5{
      font-size: 1rem;
    }
    h6{
      font-size: 1rem;
    }
    h8{
      font-size: 1rem;
    }
    h9{
      font-size: 1rem;
    }
}